<ion-header>
  <ion-toolbar>
    <ion-title class="text-center"><b>COTG</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Code :</ion-label>
    <ion-input type="password" min="4" max="6" tabindex="2" ></ion-input>
  </ion-item>

    <div class="text-center">
      <h4>Instructions on how to do the planning</h4>
    </div>
    <div class="text-center">
      <h3>Need to view Who's Ready</h3>
    </div>
    <div class="text-center ion-margin-top">
      <ion-button  color="success">Begin</ion-button>
    </div>
</ion-content>
