<ion-header>
  <ion-toolbar>
    <ion-title class="text-center"><b>COTG</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-item>
      <ion-label class="text-center" [routerLink]="['/a0-basic-settings']">Start Event </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text-center">Event History</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text-center">My Account</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text-center">Invite Others</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
