<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <img src="assets/icon/homescreen/logo.png" class="logotop">
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content class="planningtext ion-text-center">
  <div >
    <h3>Planning Phase</h3>
    <div id="container">
               <h1 style="color:white; font-weight: 900; font-size: 35px;">waiting for others....</h1>
              </div>
        </div>
</ion-content>

