<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <img src="assets/icon/homescreen/logo.png" class="logotop">
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-text-center">
  <h3>Join Event</h3>
  <div id="container">
   <h2>ENTER CODE</h2>
   <br>
   <ion-item class="ion-text-center">
    <ion-input placeholder="Enter code"></ion-input>
  </ion-item>
  <br>
   <ion-button color="primary"shape="round" href="#"> Continue</ion-button>
  </div>
</ion-content>
