.default-bg {
  background: var(--ion-color-cotg-bg);
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;

    font-size: 15px;
    color: #636363;
    line-height: 17.25px;
    font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .label {
      font-size: 28px;
      font-weight: 900;
      color: white;
    }

    .form-field {
      margin: 35px 0 50px;
    }

    .submit-btn {
      --border-radius: 30px;
      --padding-start: 2em;
      --padding-end: 2em;
      font-size: 18px;
      font-weight: 900;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

  }
}
