<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <img src="assets/icon/homescreen/logo.png" class="logotop">
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <h3>Join Event</h3>
  <div id="container">
   <h2>CHOOSE TEAM</h2>
   <br>
   <ion-item class="ion-text-center">
   
      <ion-select>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
   <ion-button color="primary"shape="round" href="#"> Ready</ion-button>
  </div>
</ion-content>
