

<ion-content class="supportpage">
  <img src="assets/icon/homescreen/logo.png" class="logotop">
  <br>
  <h1>THANK YOU FOR PLAYING. WE APPRICIATE YOUR SUPPORT</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="imageshirt">
          <img src="assets/icon/Endgame/shirt.png" class="logotop">
        </div>
      </ion-col>
      <ion-col>
        <div class="imagecup">
          <img src="assets/icon/Endgame/CUP.png" class="logotop">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container" class="ion-text-center">
    <ion-button color="secondary"shape="round" href="#"> Donate</ion-button> <br>
  <br>
  <ion-button href="#" shape="round" color="danger"> Gift Shop </ion-button> <br>
  <br>
  <ion-button href="#"color="warning" shape="round"> Play Again</ion-button> <br>
  <br>
  </div>
</ion-content>
