h1 {
    color: #3dc2ff;
    font-size: 32px;
    text-align: center;
    padding: 0px 20px;
    font-weight: 800;
}
.supportpage {
    --background:none;
    background: url(../../../assets/icon/Endgame/BG.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imageshirt img{
    background: url(../../../assets/icon/Endgame/shirt-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }
  .imagecup img{
    background: url(../../../assets/icon/Endgame/shirt-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }