<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/homescreen/logo.png" class="logotop">
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-text-center">
   <h3>Planning Phase</h3>
   <h5>CODE</h5>
   <ion-input placeholder="--- ---"></ion-input>

   <div class="planningtext">
       <h4>How to do planing</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>
 
    </div>
    <h3 style="color:white;">waiting...</h3>
    <h4 style="color:white;">Others are joining in a while....</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="colteam">Joined Teams</p><br>
          Team Lorem<br>
          Team Ipsum<br>
          Team Zipsum<br>
          Team Tipsum
        </ion-col>
        <ion-col>
         <p class="colteam"> Team Joining</p><br>
          Team Lorem<br>
          Team Ipsum<br>
          Team Zipsum<br>
          Team Tipsum
        </ion-col>
      </ion-row>
    </ion-grid>
    <h3 style="color:white;">Everyone joined now!</h3>
</ion-content>
<ion-button routerLink="/event-dash" shape="round" class="submitbutton">Begin</ion-button>

