<ion-header [translucent]="true">
  <img src="assets/icon/homescreen/logo.png" class="logotop">
 </ion-header>
 
 <ion-content class="homepage">
   <div >
 
   <div id="container">
     <ion-button color="secondary"shape="round" href="#"> Join Event</ion-button> <br>
   <br>
   <ion-button href="#" shape="round" color="danger"> create Account </ion-button> <br>
   <br>
   <ion-button href="#"color="warning" shape="round"> Invite Other</ion-button> <br>
   <br>
   </div>
   </div>
 </ion-content>
 