#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.homepage {
  --background:none;
  background: url(../../assets/icon/homescreen/home.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-button {
  width: 200px;
  height: 50px;
  --color: white !important;
  font-weight: 700;
  font-size: 17px;
  border: 4px solid white;
    border-radius: 25px;
  text-transform: capitalize;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.ion-color-warning {
  --ion-color-base: var(--ion-color-warning, #ffc409) !important;
  --ion-color-base-rgb: var(--ion-color-warning-rgb, 255, 196, 9) !important;
  --ion-color-contrast: #fff !important;
}