<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>
 <img src="assets/icon/homescreen/logo.png" class="logotop">
</ion-title>
</ion-header>

<ion-content class="homepage">
  <div >

  <div id="container">
    <ion-button color="secondary"shape="round" routerLink="/event"> Start Event</ion-button> <br>
  <br>
  <ion-button routerLink="/event" shape="round" color="success"> Event History</ion-button> <br>
  <br>
  <ion-button routerLink="/event" shape="round" color="danger"> My Account </ion-button> <br>
  <br>
  <ion-button href="#"color="warning" shape="round"> Invite Other</ion-button> <br>
  <br>
  </div>
  </div>
</ion-content>
